*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg , rgb(0, 208, 255) , rgb(161, 46, 202));
    margin: 100px auto 0;
    padding: 35px 35px;
    text-align: center;
    border-radius: 20px;

}

.search{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px ;
    padding: 3px;

}

.search input{
    width: 90%;
    border: 0;
    outline: 0;
    border-radius: 30px;
    background-color: antiquewhite;
    padding: 20px 30px;
    flex: 1;
    font-size: 15px;
    margin: 20px;
    
}

.search button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    /* outline: 0;
    border: 0; */
   

}

.search button img{
    width: 16px;
    
}

.weather{
    padding: 6px;
}

.weather h1{
    font-size: 45px;
}
.weather h2{
    font-size: 34px;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10px;
    
}


.col{
    display: flex;
}

.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}


.weather{
    display: none;
}

.error{
   
    text-align: left;
   margin-left: 50px;
   font-size: 14px;
   margin-bottom: 20px;
   padding-bottom: 20px;
   display: none;
    

}